{% extends 'main.html' %}
{% load static %}
{% block content %}

<div id='recipe-card-container'>

{% for card in cards %}
  {% if recipe_number == card.dish %}

    <a href='/recipes'><h2 class='h2-header'>{{ card.heading|upper }}</h2></a>

    <div class='recipe-card' id='front'>

      <h2 class='recipe-card-title'>{{ card.dish }}</h2>

      <p class='recipe-card-p'>Appx prep time needed:<span class='recipe-card-span'>{{ card.prep_time }}</span></p>
      <p class='recipe-card-p'>Appx cooking time needed:<span class='recipe-card-span'> {{ card.cook_time }}</span></p>
      <p class='recipe-card-p'>Yields: <span class='recipe-card-span'>{{ card.batch_size }}</span></p>
      <p class='recipe-card-p'>Current par: <span class='recipe-card-span'>{{ card.par }}</span></p>
      <p class='recipe-card-p'>Shelf life: <span class='recipe-card-span'>{{ card.shelf_life }}</span></p>
      <p class='recipe-card-p'>Ingredients: <span class='recipe-card-span'>{{ card.ingredients }}</span></p>
      <p class='recipe-card-p'>Directions: <span class='recipe-card-span'>{{ card.directions }}</span></p>
      <p class='recipe-card-p'>Reference images:</p>


      <p class='stamp'>Last updated by: {{ card.user }} on {{ card.created }}</p>

      <a id='front-btn'>( VIEW PREP TASKS )</a>

    </div>

    <div class='recipe-card' id='back'>
      <h2 class='recipe-card-title'>{{ card.dish }}</h2>

      <ul class='recipe-card-p'>Prep Tasks:
      {% for recipe_task in recipe_tasks %}
          <li class='recipe-card-li'>{{ recipe_task.prep }}</li>
      {% endfor %}
      </ul>
      <p id='recipe-card-p-btn'><button>ADD TASKS TO WHITEBOARD</button></p>


      <p class='stamp'>Last updated by: {{ card.user }} on {{ card.created }}</p>

      <a id='back-btn'>( VIEW FULL RECIPE )</a>

    </div>
  {% endif %}
{% endfor %}

{% endblock content %}


        {% comment %} {% if recipe_task.recipe == card.dish %} {% endcomment %}
          {% comment %} <li class='recipe-card-li'>{{ recipe_task.recipe }}{{ card.dish }}</li> {% endcomment %}

             {% comment %} {% endif %} {% endcomment %}
