{% extends 'main.html' %}
{% load static %}
{% block content %}

<div id='recipe-card-container'>
{% for card in cards %}
  {% if recipe_number == card.dish %}
    <a href='/recipes'><h2 class='h2-header'>{{ card.heading|upper }}</h2></a>
    <div class='recipe-card'>
      <h2 class='recipe-card-title'>{{ card.dish }}</h2>

      <p class='recipe-card-p'>Appx prep time needed:<span class='recipe-card-span'>{{ card.prep_time }}</span></p>
      <p class='recipe-card-p'>Appx cooking time needed:<span class='recipe-card-span'> {{ card.cook_time }}</span></p>
      <p class='recipe-card-p'>Yields: <span class='recipe-card-span'>{{ card.batch_size }}</span></p>
      <p class='recipe-card-p'>Current par: <span class='recipe-card-span'>{{ card.par }}</span></p>
      <p class='recipe-card-p'>Shelf life: <span class='recipe-card-span'>{{ card.shelf_life }}</span></p>
      <p class='recipe-card-p'>Ingredients: <span class='recipe-card-span'>{{ card.ingredients }}</span></p>
      <p class='recipe-card-p'>Directions: <span class='recipe-card-span'>{{ card.directions }}</span></p>
      <p class='recipe-card-p'>Reference images: <a>{{ card.images }}<a/></p>


      <p class='update-stamp'>Last updated by: {{ card.user }} on {{ card.created }}</p>

      <h3 class='h3-header'>CLICK HERE TO VIEW PREP LIST</h3>


  {% endif %}
{% endfor %}



{% endblock content %}
