{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>UPDATES FEED</h2>


<div id='updates-container'>
  {% for update in updates %}
  <div class='update-div'>

    {% comment %} how do i change the color of the update.type??? {% endcomment %}
    <h2>{{ update.type }} : {{ update.subject }}</h2>
    <p>{{ update.description }}</p>
    {% comment %} <p>{{ update.user }}</p> {% endcomment %}
    <p class='timestamp'>{{ update.created }}</p>
  </div>
  <br>
    {% endfor %}
</div>

{% endblock content %}
