{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>UPDATES FEED</h2>


{% comment %} <div class='update-form'>
  <h3 class='update-form-header'>Add an Update</h3>
  <form method="POST" action="">

      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit Update"/>
  </form>
</div> {% endcomment %}

<div id='updates-container'>
  <h3 class='update-form-header'>
    <a href="create-update/">Add an Update</a>
  </h3>
  {% for update in updates %}
  <div class='update-div'>
    {% if update.type == 'OUT' %}
    <h2 class='out'>{{ update.type }}</h2>
    {% elif update.type == 'NEW' %}
    <h2 class='new'>{{ update.type }}</h2>
    {% elif update.type == 'CHANGE' %}
    <h2 class='change'>{{ update.type }}</h2>
    {% elif update.type == 'GONE' %}
    <h2 class='gone'>{{ update.type }}</h2>
    {% endif %}
    <h2>{{ update.subject }}</h2>
    <p>{{ update.description }}</p>
    {% if request.user == update.user %}
    <a href="update-update/{{ update.id }}">EDIT</a>
    <a href="delete-update/{{ update.id }}">DELETE</a>
    {% endif %}
    <p class='timestamp'>{{ update.user }} @ {{ update.created }}</p>
  </div>
  <br>
    {% endfor %}
</div>

{% endblock content %}
