{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>UPDATES FEED</h2>


<div id='updates-container'>
  {% for update in updates %}
  <div class='update-div'>
    {% if update.type == 'OUT' %}
    <h2 class='out'>{{ update.type }}</h2>
    {% elif update.type == 'NEW' %}
    <h2 class='new'>{{ update.type }}</h2>
    {% elif update.type == 'CHANGE' %}
    <h2 class='change'>{{ update.type }}</h2>
    {% elif update.type == 'GONE' %}
    <h2 class='gone'>{{ update.type }}</h2>
    {% endif %}
    <h2>{{ update.subject }}</h2>
    <p>{{ update.description }}</p>
    {% comment %} <p>{{ update.user }}</p> {% endcomment %}
    <p class='timestamp'>{{ update.user }} @ {{ update.created }}</p>
  </div>
  <br>
    {% endfor %}
</div>

{% endblock content %}
