{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>CHECKLISTS</h2>
<br>

<div id='checklists-container'>
  <div class='checklist-div'>
    <h2>OPENING</h2>
    {% for task in tasks %}
      {% if task.shift == 'Opening' %}
    <p><input type="checkbox" id="{{ task.name }}" name="{{ task.name }}" value="{{ task.checked }}">
    <label for="{{ task.name }}">{{ task.name }}</label></p>
      {% endif %}
    {% endfor %}
    <button type='submit'>DONE</button><button type='submit'>CLEAR</button>
    {% comment %} if done, save somehow and add username and timestamp?  {% endcomment %}
  </div>
<br><br>
  <div class='checklist-div'>
    <h2>MID</h2>
    {% for task in tasks %}
      {% if task.shift == 'Mid' %}
    <p><input type="checkbox" id="{{ task.name }}" name="{{ task.name }}" value="{{ task.checked }}">
    <label for="{{ task.name }}">{{ task.name }}</label></p>
      {% endif %}
    {% endfor %}
    <button type='submit'>DONE</button><button type='submit'>CLEAR</button>
  </div>
  <br><br>
  <div class='checklist-div'>
    <h2>CLOSING</h2>
    {% for task in tasks %}
      {% if task.shift == 'Closing' %}
    <p><input type="checkbox" id="{{ task.name }}" name="{{ task.name }}" value="{{ task.checked }}">
    <label for="{{ task.name }}">{{ task.name }}</label></p>
      {% endif %}
    {% endfor %}
    <button type='submit'>DONE</button><button type='submit'>CLEAR</button>
  </div>
</div>

{% endblock content %}




{% comment %} (need to create links for opening and closing checklist pages?) {% endcomment %}
