{% extends 'main.html' %}

{% block content %}

<h1>Checklists Template</h1>

{% comment %} <h2>{{ tasks }}</h2>

<div>
  {% for task in tasks %}
    <p>{{ task.shift }}</p>
  {% endfor %}
</div> {% endcomment %}


<div>
  <div>
    <h2>Opening</h2>
    {% for task in tasks %}
      {% if task.shift == 'Opening' %}
    <p>{{ task.name }}</p>
      {% endif %}
    {% endfor %}
  </div>

  <div>
    <h2>Closing</h2>
    {% for task in tasks %}
      {% if task.shift == 'Closing' %}
    <p>{{ task.name }}</p>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock content %}




{% comment %} (need to create links for opening and closing checklist pages?) {% endcomment %}
