{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<h2 class='h2-header'>WELCOME, {{ user.first_name|upper }}!</h2>

<div id='home-container'>

  <div id='home-left'>
    <div id='main-menu-div'>
      <a href='changes/'>
        <h3>UPDATES FEED</h3>
      </a>

      <a href='whiteboard/'>
        <h3>WHITEBOARD</h3>
      </a>

      <a href='checklist/'>
        <h3>CHECKLISTS</h3>
      </a>

      <a href='recipes/'>
        <h3>RECIPE BOOK</h3>
      </a>

      <a href='prep/'>
        <h3>PREP LIST</h3>
      </a>

      <a href='inventory/'>
        <h3>INVENTORY SHEET</h3>
      </a>
    </div>
  </div>

  <div id='home-right'>

  </div>

</div>
{% else %}


<div class='form-container'>
  <h2 class='h2-header'>REGISTER</h2>
  <form action="{% url 'users:signup' %}" method='post'>

    {% csrf_token %}
    <label name='name'>Username</label>
    <input type='text' name='name'>

    <label name='password'>Password</label>
    <input type='text' name='password'>

    <label name='password2'>Confirm password</label>
    <input type='text' name='password2'>

    <button type='submit'>Submit</button>

  </form>
</div>

{% endif %}

{% endblock content %}
