{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>INVENTORY SHEET</h2>

  <div class='table-div'>
    <table>
      <tr id='table-headers'>
        <th>STORAGE<button>&#8593;</button></th>
        <th>ITEM<button>&#8593;</button></th>
        <th>PAR</th>
        <th>ON HAND</th>
        <th>NEED</th>
        <th>WHITEBOARD</th>
      </tr>
      {% for item in items %}
      <tr class='table-row'>
        <td>{{ item.located }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.par }}</td>
        <td><input class='table-input' value='{{ item.on_hand }}' placeholder='Enter amount on hand'></input></td>
        <td><input class='table-input' value='{{ item.need }}' placeholder='Enter amount to order'></input></td>
        <td><button value='{{ item.to_whiteboard }}'>ADD</button></td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock content %}
