{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="{% static '/app.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
    <title>MicroMan Kitchen Manager</title>
  </head>
  <body>
    {% comment %} <div id='app'> {% endcomment %}
      {% include 'navbar.html' %}



      {% block content %}

      {% endblock %}

    {% comment %} </div>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Import file.js -->
    <script src="{% static '/app.js' %}"></script>
    <script> const mountApp = app.mount('#app')</script> {% endcomment %}
  </body>
</html>
