{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'base/styles.css' %}">
    <title>MicroMan Kitchen Manager</title>
  </head>
  <body>
    <div id='app'>
      {% include 'navbar.html' %}
        [[ name ]]
      {% block content %}

      {% endblock %}
    </div>
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Import file.js -->
    <script src="{% static '/app.js' %}"></script>
    <script> const mountApp = app.mount('#app')</script>
  </body>
</html>
