{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>CHECKLISTS</h2>

<div id='checklists-container'>
  <h3>MID</h3>
  <div class='checklist'>
  {% for task in tasks %}
    {% if task.shift == 'Mid' %}
      <div class='checklist-div'>
        <p class='checklist-btn-p'>
          <button class='chk-btn'>&#10004;</button>
          <button class='x-btn'>&#10006;</button>
        </p>
        <p class='checklist-p'>{{ task.name }}</p>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <div>
    <button type='submit'>DONE</button>
    <button type='submit'>CLEAR</button>
  </div>
</div>

{% endblock content %}
