{% load static %}

<header>
  <a href='/'><h1 id='micro-logo'>MicroMan</h1></a>

  {% comment %} <form method="GET" action="home/">
    <input type="text" name="q" placeholder="Search"/>
  </form> {% endcomment %}

  <div class="dropdown">
    <button class="dropbtn"><img id='sharpie' src="{% static 'base/sharpie.jpeg' %}" alt="sharpie"></button>

    <div class="dropdown-content">
      <a href="/changes">UPDATES FEED</a>
      <a href="/whiteboard">WHITEBOARD</a>
      <a href="/checklist">CHECKLISTS</a>
      <a href="/recipes">RECIPE BOOK</a>
      <a href="/prep">PREP LIST</a>
      <a href="/inventory">INVENTORY SHEET</a>
      <a href="#">LOGOUT</a>
    </div>
  </div>

</header>
<hr>
