{% load static %}

<header>
  <a href='/'><h1 id='micro-logo'>MicroMan</h1></a>
{% if request.user.is_authenticated %}
  <div class="dropdown">
    <button class="dropbtn"><img id='sharpie' src="{% static 'base/sharpie.jpeg' %}" alt="sharpie"></button>
    <div class="dropdown-content">
      <a href="/messages">MESSAGES</a>
      <a href="/changes">UPDATES FEED</a>
      <a href="/whiteboard">WHITEBOARD</a>
      <a href="/checklist">CHECKLISTS</a>
      <a href="/recipes">RECIPE BOOK</a>
      <a href="/prep">PREP LIST</a>
      <a href="/inventory">INVENTORY SHEET</a>
      <a href="{% url 'logout' %}">LOGOUT</a>
    </div>
  </div>
{% else %}
  <h3><a href="{% url 'login' %}">LOGIN</a></h3>
{% endif %}
</header>
<hr>
