{% load static %}

{% comment %} <header>
  <a href='/'>
    <h1 id='micro-logo'>MicroMan</h1>
  </a>
  <img id='sharpie' src="{% static 'base/sharpie.jpeg' %}" alt="sharpie">

</header>
<hr> {% endcomment %}

<header>
  <a href='/'><h1 id='micro-logo'>MicroMan</h1></a>
  <div class="dropdown">
    <button class="dropbtn"><img id='sharpie' src="{% static 'base/sharpie.jpeg' %}" alt="sharpie"></button>
    {% comment %} <button class="dropbtn"><img id='sharpie' src="{% static 'base/sharpie.jpeg' %}" alt="sharpie"></button> {% endcomment %}

    <div class="dropdown-content">
      <a href="/changes">UPDATES FEED</a>
      <a href="/whiteboard">WHITEBOARD</a>
      <a href="/checklists">CHECKLISTS</a>
      <a href="/recipes">RECIPE BOOK</a>
      <a href="/prep">PREP LIST</a>
      <a href="/inventory">INVENTORY SHEET</a>
      <a href="#">LOGOUT</a>
    </div>
  </div>

</header>
<hr>


    {% comment %} <div id='nav-logo-div'>
    <a href='/'>
      <h1 id='micro-logo'>MicroMan</h1>
    </a>
  </div>

  <div class="dropdown">
    <button class="dropbtn"><img id='sharpie' src="{% static 'base/sharpie.jpeg' %}" alt="sharpie"></button>
    <div class="dropdown-content">
      <a href="/changes">UPDATES FEED</a>
      <a href="/whiteboard">WHITEBOARD</a>
      <a href="/checklists">CHECKLISTS</a>
      <a href="/recipes">RECIPE BOOK</a>
      <a href="/prep">PREP LIST</a>
      <a href="/inventory">INVENTORY SHEET</a>
      <a href="#">LOGOUT</a>
    </div>
  </div> {% endcomment %}

  {% comment %} <div id="dropdown-content-logged-out">
    <a href="#">LOGIN</a>
  </div> {% endcomment %}








  {% comment %} <button id='sharpie-dropdown'><img src="{% static 'base/sharpie.jpeg' %}" alt="sharpie"></button> {% endcomment %}
