{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>Main Prep List</h2>

<div>
  <div>
    <table>
      <tr>
        <th>Component Of  &#8593; &#8595;</th>
        <th>Prep Task &#8593; &#8595;</th>
        <th>Par &#8593; &#8595;</th>
        <th>On Hand &#8593; &#8595;</th>
        <th>ADD TO WHITEBOARD</th>
      </tr>
      {% for todo in todos %}
      <tr>
        <td>{{ todo.component_of }}</td>
        <td>{{ todo.name }}</td>
        <td>{{ todo.par }}</td>
        <td><input value='{{ todo.on_hand }}' placeholder='Enter amount on hand'></input></td>
        <td><button value='{{ todo.to_whiteboard }}'>ADD</button></td>
      </tr>
      {% endfor %}
    </table>

  </div>
  <br><br>

</div>

{% endblock content %}
