{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>MAIN PREP LIST</h2>

{% comment %} <div> {% endcomment %}
  <div class='table-div'>
    <table>
      <tr>
        <th>FOR
          <button id='prep-btn-1'>&#8593;</button>
          {% comment %} <button id='prep-btn-2'>&#8595;</button> {% endcomment %}
        </th>
        <th>PREP TASK</th>
        <th>PAR</th>
        <th>ON HAND</th>
        <th>NEED</th>
        <th>WHITEBOARD</th>
      </tr>
      {% for todo in todos %}
        {% comment %} {% for recipe_task in recipe_tasks %} {% endcomment %}
      <tr>
          {% comment %} {% if recipe_task.prep == todo.name %} {% endcomment %}
        <td>{{ todo.task_for }}</td>
        <td>{{ todo.name }}</td>
        <td>{{ todo.par }}</td>
        <td><input class='table-input' value='{{ todo.on_hand }}' placeholder='Enter amount on hand'></input></td>
        <td><input class='table-input' value='{{ todo.need }}' placeholder='Enter amount needed'></input></td>
        <td><button value='{{ todo.to_whiteboard }}'>ADD</button></td>
      </tr>
          {% comment %} {% endif %}
        {% endfor %} {% endcomment %}
      {% endfor %}
    </table>
  </div>


{% comment %} </div> {% endcomment %}

{% endblock content %}
