{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>RECIPE BOOK</h2>

<div id='recipe-book'>
  <div class='menu-section'>
    <h2>Appetizers</h2>
    {% for card in cards %}
      {% if card.heading == 'Appetizers' %}
      <p><a>{{ card.dish }}</a></p>
      {% endif %}
    {% endfor %}
  </div>

  <div class='menu-section'>
    <h2>Entrees</h2>
    {% for card in cards %}
    {% if card.heading == 'Entrees' %}
    <p><a>{{ card.dish }}</a></p>
    {% endif %}
    {% endfor %}
  </div>

  <div>
    <h2 class='menu-section'>Sides</h2>
    {% for card in cards %}
      {% if card.heading == 'Sides' %}
      <p><a>{{ card.dish }}</a></p>
      {% endif %}
    {% endfor %}
  </div>

  <div>
    <h2 class='menu-section'>Desserts</h2>
    {% for card in cards %}
      {% if card.heading == 'Desserts' %}
      <p><a>{{ card.dish }}</a></p>
      {% endif %}
    {% endfor %}
  </div>

</div>


{% endblock content %}

{% comment %} HOW TO LINK TO RECIPE CARDS?? {% endcomment %}
