{% extends 'main.html' %}
{% load static %}
{% block content %}


<div class='form-container'>
    <h3 class='h3-header'>ADD UPDATE</h3>
    <div class='update-form'>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>

{% comment %} {{ form }}

# In form_snippet.html:
{% for field in form %}
    <div class="form-container">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %} {% endcomment %}

{% endblock content %}
