{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2 class='h2-header'>WHITEBOARD</h2>


<div id='whiteboard'>
  <div id='needs'>
    <h2>NEEDS</h2>
    {% comment %} <hr class='gray-hr'> {% endcomment %}
    {% for item in items %}
      {% if item.to_whiteboard == True %}
      <p class='babe-writing'><a>{{ item.name }}</a></p>
      {% endif %}
    {% endfor %}
  </div>

  <br>

  <div id='todo'>
    <h2>TO DO</h2>
    {% comment %} <hr class='gray-hr'> {% endcomment %}
    {% for todo in todos %}
      {% if todo.to_whiteboard == True %}
      <p class='babe-writing'><a>{{ todo.name }}</a></p>
      {% endif %}
    {% endfor %}
  </div>

  <br><br>

{% endblock content %}

{% comment %} NEED TO ADD CHECKBOXES AND ALL THAT SAME AS CHECKLIST {% endcomment %}
