@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Alumni+Sans+Pinstripe&family=Cairo+Play:wght@700&family=Kaushan+Script&family=Megrim&family=News+Cycle&family=Notable&family=Raleway:wght@100&family=Roboto+Slab:wght@100&family=Rock+Salt&family=Thasadith&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 1rem;
  /* border: 1px solid red; */
}

body {
  font-family: 'Raleway', sans-serif;
  background-color:white;
  color:darkslategray;
  font-weight: 900;
  letter-spacing: .1rem;
}

a {
  color: darkslategray;
  text-decoration: none;
}

a:hover {
  color:darkgray;
}

.h2-header {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  margin: 0;
}

h2 {
  color:peru;
  font-size: 2rem;

}

h3 {
  font-size: 2.5rem;
  text-align: center;
}

.h3-header {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  color:peru;
}

h4 {
  font-size: 1.5rem;
}

button {
  background-color: darkgray;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: .5rem;
  border: none;
  border-radius: .25rem;
  letter-spacing: .1rem;
}

button:hover {
  background-color: white;
  color: darkgray;
  /* border: .5px solid darkgray; */
}


/*     NAV BAR-------------------------------------------     */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  margin: 0;
}

#micro-logo {
  font-size: 3.5rem;
  color:darkslategray;
  font-family: 'Megrim', cursive;
  margin: 0;
}

#sharpie {
  width:100%;
  margin:0;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  width: 10rem;
  margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  min-width: 10rem;
  margin: 0;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  margin: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: darkslategray;
  text-decoration: none;
  text-align: center;
  display: block;
  margin:0;
  padding: 1rem;
  font-size: 1rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: peru;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* HOME ---------------------------------------------- */
#home-welcome-h3 {
  margin: 2rem;
  padding: 1rem;
}

#home-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* margin: 0; */
  margin-top: 2rem;
}

#home-left {
  margin: 0;
}

#home-right {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#home-msg-container {
  height: 25%;
}

#home-msg-div {
  height: 75%;
  border: 2px solid darkgray;
  border-radius: .5rem;
  margin: 2rem;
}

#home-msg {
  text-align: center;
  font-style: italic;
  color: darkgray;
}

#home-todo-container {
  height: 75%;
}

#home-todo-div {
  display: flex;
  justify-content: center;
  height: 80%;
  border: 1rem solid darkgray;

}

#home-todo {
  margin: 1rem;
  border: 2px solid darkgray;
  width: 95%;
  background-color:aliceblue;
  padding: .5rem;
  text-align: center;
  font-style: italic;
  color: darkgray;
}


#home-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  border: 1rem solid darkgray;

}

#home-input{
  margin: 1rem;
  border: 2px solid darkgray;
  width: 95%;
  background-color:aliceblue;
  padding: .5rem;
  text-align: center;
}


#main-menu-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.timestamp {
  color: darkgrey;
}

/* WHITEBOARD ---------------------------------------- */
#whiteboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1rem solid darkgray;
}

#needs, #todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid darkgray;
  width: 50%;
  height: 40rem;
  background-color:aliceblue;
  padding: 1rem;
}

.babe-writing {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Rock Salt', cursive;
  font-size: 1rem;
  text-align: left;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.babe-writing a {
  width: 100%;
}

#whiteboard-input-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1rem solid darkgray;
}

#whiteboard-input-needs, #whiteboard-input-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid darkgray;
  width: 50%;
  background-color:aliceblue;
  padding: 1rem;
  text-align: center;
}

#needs-p, #todo-p {
  display: none;
}

/* UPDATES ---------------------------------------- */
#updates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

#update-add-h3 {
  text-align: center;
  font-size: 2rem;
}

.home-header {
  color: darkgray;
  font-size: 1.5rem;
}

.home-a {
  text-align: center;
}

#home-updates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-update-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px solid darkslategray;
  border-radius: .5rem;
  width: 70%;
  height: 15rem;
  padding: 1rem;
}

.update-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid darkslategray;
  border-radius: .5rem;
  width: 50%;
  padding: 1rem;
  margin-top: 1rem;
}

.home-update-subject {
  font-size: 1rem;
  color: peru;
  padding: 0;
  margin: 0;
}

.new {
  color: green;
}
.out {
  color: red;
}
.gone {
  color: black;
}
.change {
  color: blue;
}

#update-form-header {
  font-size: 1.5rem;
}

/* RECIPES ---------------------------------------- */
#recipe-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-section a {
  font-size: 1.5rem;
}

#recipe-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card-title {
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
  padding-bottom: 1rem;
  color: darkslategray;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  border: 2px solid darkgray;
  border-radius: .5rem;
  padding: 2rem;
  background-color:rgb(250, 235, 215, .5);
  /* max-width: 50rem; */
  width: 40rem;
  min-height:55rem;
}

.recipe-card ul {
  padding-left: 3rem;
}

#recipe-card-p-btn {
  display: flex;
  justify-content: center;
}

.recipe-card-p {
  font-weight: bolder;
  font-size: 1.5rem;
  color: peru;
}

.recipe-card-span {
  color: darkslategray;
}

.recipe-card-li {
  color: darkslategray;
  list-style: none;
  padding: .5rem;
  padding-left: 3rem;
}

.stamp {
  text-align: center;
  color: darkgrey;
  padding-top: 1rem;
}

#back {
  display: none;
  justify-content: space-evenly;
}

#front-btn, #back-btn {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

/* CHECKLISTS ---------------------------------------- */
#checklists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.checklist {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checklist-div {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  margin: 0;
  height: 5rem;
}

.checklist-btn-p {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  max-width: 10rem;
}

.checklist-p {
  width: 60%;
  margin: 0;
  padding-left: .25rem;
  font-size: 1.5rem;
}

/* TABLES ---------------------------------------- */
.table-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  font-family: 'Raleway', sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 1rem;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: .5rem;
}

th {
  min-width: max-content;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-input {
  background-color: white;
  color: darkgray;
  font-family: 'Raleway', sans-serif;
  padding: .5rem;
  border: 1px solid darkgrey;
  border-radius: .25rem;
  width: 75%;
}

#prep-btn-2 {
  display: none;
}

/* FORMS ---------------------------------------- */
.form-container {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

#login-form, #reg-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 50%;
  align-items: center;

}

.update-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#update-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 50%; */
}

#update-form p {
  display: flex;
  flex-direction: column;
  width: 30rem;
  letter-spacing: .1rem;
  font-family: 'Raleway', sans-serif;
}

#update-form input, #update-form textarea, #update-form select {
  /* text-align: center; */
  padding: .5rem;
  /* width: 15rem; */
  letter-spacing: .1rem;
  font-family: 'Raleway', sans-serif;
  /* width: 100%; */
}

#reg-form input, #login-form input{
  letter-spacing: .1rem;
  font-family: 'Raleway', sans-serif;
  padding: .5rem;
}

#reg-form button {

  width: 5rem;
}

#login-form-btn, #update-form-btn{
  background-color: darkgray;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: .5rem;
  border: none;
  border-radius: .25rem;
  width: 5rem;
  text-align: center;
}

#recipe-search-form {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#recipe-search-form input{
  text-align: center;
  padding: .5rem;
  width: 15rem;
  letter-spacing: .1rem;
  font-family: 'Raleway', sans-serif;
}

/* .errorlist input {
  text-align: center;
  padding: .5rem;
  width: 15rem;
  letter-spacing: .1rem;
  font-family: 'Raleway', sans-serif;
} */
