{% extends 'main.html' %}
{% load static %}
{% block content %}
{% comment %} {% if request.user.is_authenticated == False %} {% endcomment %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password"/>

        <input type="submit" value="Login"/>
    </form>
</div>

{% comment %} {% endif %} {% endcomment %}
{% endblock content %}
